<div class="container">

  <div class="profile-picture">
    <img src="http://i.imgur.com/8PKlHjh.jpg?1">
  </div>

  <div class="user-info">
    <h2><%= @user.personal_info %></h2>
  </div>

  <div class="user-groups">
    <% @user.memberships.each do |membership| %>
      <div>
        <h3> <%= membership.group.name %> </h3>
        <ul>
          <% membership.group.members.each do |member| %>
          <li> <%= member.username %> </li>
          <% end %>
        </ul>
        <h4>Popular Games</h4>
        <%= membership.group. %>
      </div>
    <% end %>
  </div>
</div>
