<div class="container">

  <div class="image-container">
    <img class="index-img" src="http://i.imgur.com/H3WDih5.jpg">
    <div class="overlay"><h1>Meet Your Next Game Group</h1></div>
  </div>


  <div class="index-register">
    <h1>Register Today!</h1>
    <%= render partial: "users/form" %>
  </div>
</div>
