<div class="container">
  <% @suggested_games.each do |game_name, game_pic| %>
    <div class="individual-game">
      <div class="game-icon">
        <img src=" <%= game_pic %> ">
      </div>
      <h4><%= game_name %></h4>
    </div>
  <% end %>

</div>
