/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
  *= require font-awesome
  */

.header {
  border-bottom: 1px solid black;
}

.floating {
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
}

.search-bar, .user-nav{
  width: 200px;
  height: 70px;
}

.search-bar form {
  padding: 25% 0 0 0;
}

.container {
  clear: both;
  width: 1500px;
}


.user-details{
  border: 1px solid blue;
  margin: 30px 0 0 50px;
  float: left;
  width: 25%;
}
.user-info {
  margin: 0 15% 0 15%;
  width: 75%;
}
.profile-picture {
  margin: 0 25% 0 25%;
}

.user-groups {
  margin: 0 0 0 0;
  float: right;
  /*border: 1px solid red;*/
  width: 70%;
}

.individual-group{
  margin: 30px 10px 10px 10px;
  border: 1px solid black;
  width: 300px;
  vertical-align: top;
  display: inline-block;
  padding: 5px;
}

.new-group-button{
  position: relative;
  width: 130px;
  top: 50px;
  left: 200px;
  display: inline-block;
  /*border: 1px solid green;*/
}


#plus-big{
  font-size: 10em;
}

.user-games{
  clear: both;
  border: 1px solid olive;
  width: 100%;
}
.new-game-button{
  /*border: 1px solid red;*/
  display: inline-block;
  vertical-align: top;
  width: 127px;
  display: relative;
}

.new-group-button, .new-game-button h4{
  text-align: center;
  margin: 0;
}
.individual-game{
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  text-align: center;
}
.individual-game h4{
  margin: 0;

}
.game-icon img{
  width: 200px;
  height: 200px;
}

.member {
  display: inline-block;
  width: 195px;
  height: 35px;
  padding: 15px 0 0;
  border: 1px solid deepskyblue;
  margin-bottom: 5px;
}
.game {
  display: inline-block;
  width: 174px;
  height: 35px;
  padding: 15px 0 0;
  border: 1px solid deepskyblue;
  margin-bottom: 5px;
}
#group-top {
  margin-top: 100px;
  border: 1px solid deepskyblue;
  padding: 0 5px;
}
#group-top a, #group-bottom a {
  text-decoration: none;
}

#group-bottom {
  width: 897px;
  border: 1px solid deepskyblue;
  margin-top: 70px;
  padding: 5px 5px 0 5px;
}

.center-block {
  width: 600px;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}
