<div class="header">

  <div class="floating">
    <a href="/"><h1>Games With Friends</h1></a>
  </div>

  <div class="search-bar floating">

    <%= form_tag('/games/results', method: :get) do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag("Search") %>
    <% end %>

  </div >

  <div class="user-nav floating">
    <% if logged_in? %>

    <% else %>
      <!-- <div class="header_login"> -->
        <%= render partial: "sessions/login_form" %>
      <!-- </div> -->
    <% end %>
  </div>

</div>
