<div class="header">

  <div class="floating">
    <h1>Games With Friends</h1>
  </div>

  <div class="search-bar floating">
    <%= form_tag results_path, :games => 'get' do %>

        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search") %>
    <% end %>
  </div >

  <div class="user-nav floating">
    Logged in?
  </div>

</div>
